@{
    ViewData["Title"] = "Cake House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    <br /> sh*tposting starts here
</h1>

<h3>Today's customers:</h3>

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (CustomerModel customer in ViewBag.customers)
            {
                <li>
                    <h2>
                        <b>@Html.ActionLink(customer.Name, "ordersFromCustomer", new { id = customer.Id })</b>
                    </h2>
                </li>
            }
        </ul>
    </div>
</div>

<p>
    <br />Here you can go:
    <br /><a title="линка" href="http://localhost:57183/Fiirst/Welcome">Welcome</a>
    <br /><a title="линка" href="http://localhost:57183/Fiirst/Info?effectivness=not_that_much_effective">Info</a>
</p>



