

@{
    ViewData["Title"] = "OrdersFromCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>OrdersFromCustomer</h2>




<h3>Orders:</h3>
@foreach (OrderModel order in ViewBag.orders)
{
    <p>
        <text>
            <b>@Html.ActionLink(Convert.ToString(order.Paydate), "productsFromOrder", new { idorder = order.Id, idcust = ViewBag.CustomerId })</b>
        </text>
    </p>
}


<p>
        <a asp-action="addProductToOrder">Create New</a>
    </p>

<p>
    <br />Here you can go:
    <br /><a title="линка" href="http://localhost:57183/Fiirst/Welcome">Welcome</a>
    <br /><a title="линка" href="http://localhost:57183/Fiirst/Info?effectivness=not_that_much_effective">Info</a>

</p>